* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;

    font-size: 16px;

    scroll-behavior: smooth;

    min-height: 100vh;
}

.cabecera {
    width: 100%;
    height: 81px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    margin: 0;

    width: 148px;
    height: 23px;

    font-family: Epilogue;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

header button {
    min-width: 108px;
    min-height: 40px;

    color: white;
    background-color: #F27A24;
    border: none;
    border-radius: 12px;

    font-family: Epilogue;
    font-weight: 700;
}

#hero-main {
    width: 100%;
    height: 50dvh;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../img/1.png);
    background-size: auto 100%;
    background-position: 38% 29%;
    background-repeat: no-repeat;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

#hero-main h1 {
    font-family: Epilogue;
    font-weight: 700;
    font-size: 44px;

    color: white;

    text-align: center;

    margin: 0;
}

#hero-main button {
    min-width: 127px;
    min-height: 48px;

    color: white;
    background-color: #F27A24;
    border: none;
    border-radius: 12px;

    font-family: Epilogue;
    font-weight: 700;

    margin-top: 25px;

}

.texto-despues-de-img {
    height: 112px;

    font-family: Epilogue;


    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#productos {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 30px;
}

.Titulo {
    width: 375.33px;
    height: 60px;

    font-family: Epilogue;
    font-weight: 700;
    font-size: 22px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 20px;

}

.model-box {
    width: 375.33px;
    height: 404px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-box {
    width: 361px;
    height: 301px;

    background-image: url('../img/pan1.png');
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 12px;
}

.model-box h1 {
    font-family: Epilogue;

    padding-top: 20px;
    padding-right: 127px;

    margin: 0;
}

.model-box p {
    font-family: Epilogue;
    font-size: 14.8px;
    line-height: 20px;

    width: 361px;

    margin: 0;
}

.img-box2 {
    width: 361px;
    height: 301px;

    background-image: url('../img/pan2.png');
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 12px;
}


.img-box3 {
    width: 361px;
    height: 301px;

    background-image: url('../img/pan3.png');
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 12px;
}


.form-contac {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact {
    width: 375.33px;
}

.contact h1 {
    font-family: Epilogue;
    font-weight: 700;

    height: 60px;

    margin: 0;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}