body{
    margin: 0;
    padding: 0;

    font-size: 16px;

    scroll-behavior: smooth;

    min-height: 100vh;
}

.cabecera{
    width: 100%;
    height: 81px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header h1{
    margin: 0;

    width: 148px;
    height: 23px;

    font-family:Epilogue;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

header button{
    min-width: 108px;
    min-height: 40px;

    color: white;
    background-color: #F27A24;
    border: none;
    border-radius: 12px;

    font-family: Epilogue;
    font-weight: 700;
}

#hero-main{
    width: 335.33px;
    height: 480px;

    background-image: url('../img/1.png');
    background-size: 129% auto;
    background-position: 49% 30%;
    background-repeat: no-repeat;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

main h1{
    font-family: Epilogue;
    font-weight: 700;
    font-size: 44px;

    color: white;

    text-align: center;

    margin: 0;
}

main button {
    min-width: 127px;
    min-height: 48px;

    color: white;
    background-color: #F27A24;
    border: none;
    border-radius: 12px;

    font-family: Epilogue;
    font-weight: 700;

    margin-top: 25px;

}